@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset font for html and body to override defaults */
  html, body {
    font-family: 'Source Code Pro', monospace;
  }

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 42, 53; /* Dark teal from our background */
    --background-end-rgb: 0, 42, 53;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    min-height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* Remove font-inter apply here */
    /* @apply font-inter bg-background text-foreground; */
    @apply bg-background text-foreground;
  }
}
